html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #212020;
  font-size: 10vw;
  text-align: center;
  overflow: hidden;
  perspective: 304px;
  background-color: white; }

h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 5vw; }

p {
  font-size: 5vw;
  margin: 10px 0; }

.flex-grid {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.main {
  width: 100vw;
  height: 100vh;
  background-color: #FF63C7;
  perspective: 0px;
  trasnform-origin: center center; }

.map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }

.shadow {
  box-shadow: 20px -10px 36px 2px #141414; }

.pin-overlay {
  position: absolute;
  width: 23vw;
  height: 23vw;
  top: calc(50% - 12vw);
  left: calc(50% - 12vw);
  border: 2px solid white;
  border-radius: 50%;
  font-size: 12px;
  color: white; }

.pin-details {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  trasnform-origin: bottom center;
  transform: scaleX(0);
  transform: scaleY(0);
  opacity: 0;
  text-align: center; }
  .pin-details .input-controls {
    position: absolute;
    bottom: 10px;
    color: black;
    text-align: center; }
  .pin-details .close-input {
    position: absolute;
    width: 100vw;
    text-align: center;
    bottom: 5vh;
    color: white;
    text-shadow: 0px 0px 19px #c8c8c8;
    font-size: 10vw;
    display: none; }
  .pin-details .actions {
    position: fixed;
    left: 15vw;
    bottom: 35vh;
    height: 70vw;
    width: 70vw;
    background-color: white;
    box-shadow: 0px 9px 16px 0px rgba(50, 50, 50, 0.75);
    color: black;
    border-radius: 50%; }
  .pin-details .actions:after {
    content: '';
    position: absolute;
    top: 95%;
    left: 50%;
    margin-left: -10vw;
    width: 0;
    height: 0;
    border-top: solid 10vw white;
    border-left: solid 10vw transparent;
    border-right: solid 10vw transparent; }

.save-route {
  position: absolute;
  height: 10%;
  width: 10%;
  left: 45%;
  bottom: 0;
  color: white; }

.tip-input {
  position: absolute;
  top: -100%;
  width: 100vw;
  height: 100%;
  background-color: #3f3f3f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }
  .tip-input .tip-input-form {
    height: 30px;
    width: 80vw;
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: white;
    font-size: 20px;
    text-align: center;
    outline: 0; }

#tip-delete {
  position: absolute;
  top: -100vh;
  width: 100vw;
  height: 100vh; }
  #tip-delete .actions {
    position: absolute;
    left: 40vw;
    bottom: 52vh;
    height: 20vw;
    width: 20vw;
    background-color: white;
    box-shadow: 0px 9px 16px 0px rgba(50, 50, 50, 0.75);
    color: black;
    border-radius: 50%; }
  #tip-delete .actions:after {
    content: '';
    position: absolute;
    top: 95%;
    left: 50%;
    margin-left: -4vw;
    width: 0;
    height: 0;
    border-top: solid 4vw white;
    border-left: solid 4vw transparent;
    border-right: solid 4vw transparent; }

.route-review {
  position: absolute;
  top: 100vh;
  width: 100vw;
  height: 100vh;
  background-color: #3f3f3f;
  color: white; }
  .route-review .info-stuff {
    display: inline-block;
    font-size: 5vw;
    font-weight: 400;
    opacity: 0; }
  .route-review .save-share {
    display: block;
    font-size: 25vw;
    font-weight: 300; }
  .route-review .round-numbers {
    width: 20vw;
    height: 20vw;
    line-height: 20vw;
    border: 1vw solid white;
    border-radius: 50%;
    margin-bottom: 5px; }

.confirmation {
  position: absolute;
  top: 100vh;
  width: 100vw;
  height: 100vh;
  background-color: #3f3f3f;
  color: white; }
