@import "reset";

$background-color : #FF63C7;
$font-color: #212020;
$accent-color: #ffa6d0;
$font-family: 'Roboto', sans-serif;
$bubble-radius: 24vw;
$border-radius: 2vw;

@mixin border-radius($radius) {
	border-radius: $radius;
}


body{
	width: 100vw;
	height:100vh;
	overflow: scroll;
	font-family: $font-family;
	font-weight: 100;
	color: $font-color;
	font-size:10vw;
	text-align:center;
	overflow: hidden;
	perspective: 304px;
	background-color: white;

}

h1{ 
	//TODO
}

h2{
	//TODO
}

h3 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 5vw;
}
p {
	font-size: 5vw;
	margin: 10px 0;
}

section{

}

.flex-grid{
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.flex-cell{

}

.main{
	width: 100vw;
	height: 100vh;
	background-color: $background-color;
	perspective: 0px;	
	trasnform-origin: center center;
}

.map{
	position:fixed;
	top:0; left:0;
	width:100vw;
	height:100vh;
}

.shadow{
	box-shadow: 20px -10px 36px 2px rgba(20,20,20,1);
}


.pin-overlay{
	position: absolute;
	width: $bubble-radius - $border-radius/2;
	height: $bubble-radius - $border-radius/2;
	
	top: calc(50% - #{$bubble-radius/2});
	left: calc(50% - #{$bubble-radius/2});
	
	border: 2px solid white;
	@include border-radius(50%);

	font-size: 12px;
	color: white;

}

.pin-details {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	trasnform-origin: bottom center;
	transform: scaleX(0);
	transform: scaleY(0);
	opacity:0;

	text-align:center;

	.input-controls{
		position: absolute;
		bottom: 10px;	
		color: black;
		text-align: center;
	}

	.close-input {
		position: absolute;
		width: 100vw;
		text-align: center;
		bottom: 5vh;
		color: white;
		text-shadow: 0px 0px 19px rgba(200, 200, 200, 1);
		font-size: 10vw;
		display: none;
	}

	.actions{
		position: fixed;
		left: 15vw;
		bottom: 35vh;

		height: 70vw;
		width: 70vw;

		background-color: white;
		box-shadow:  0px 9px 16px 0px rgba(50, 50, 50, 0.75);


		color: black;
		@include border-radius(50%);
	}

	.actions:after {
		content:'';
		position: absolute;
		top: 95%;
		left: 50%;
		margin-left: -10vw;
		width: 0;
		height: 0;
		border-top: solid 10vw white;
		border-left: solid 10vw transparent;
		border-right: solid 10vw transparent;
	}


	.tip-input { 
		height: 55px; 
		width: 80vw; 
		background-color: transparent;  
		border-style: solid;  
		border-width: 0px 0px 2px 0px;  
		border-color: black;
		font-family: $font-family;
		font-weight: 100;
		color: black;
		font-size: 25px;
		text-align: center;
		outline:0; 
	} 

}

.save-route {
	position: absolute;
	height: 10%;
	width: 10%;
	left: 45%;
	bottom: 0;

	color: white;
}

.route-review{
	position: absolute;
	top:100vh;

	width:100vw;
	height:100vh;

	background-color: rgba(white, 0.9);

	.info-stuff
	{
		display: inline-block;
		font-size: 5vw;
		font-weight: 400;
		opacity: 0;
	}

	.save-share{
		display: block;
		font-size: 25vw;
		font-weight: 300;
	}

	.round-numbers {
		width: 20vw;
		height: 20vw;
		line-height: 20vw;
		border: 1vw solid black;
		@include border-radius(50%);
		margin-bottom: 5px;
	}
}


